img {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eeeeee;
}

.dataframe {
    width: 100%;
    height: 100%;
}

#report_body {
    background-color: #ffffff;
    width: 1200px;
    margin: auto;
}


#summary {
    width: 240px;
    height: 400px;
    float: left;
    margin: 30px;
}

#net_worth {
    width: 900px;
    height: 475px;
    float: left;
}

.third_chart {
    width: 400px;
    height: 475px;
    float: left;
}

.half_chart {
    width:600px;
    height: 475px;
    float:left;
}
